body {
    color: #2274A5;
}

main {
  flex: 1;
}

.account-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-logo-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#userProfilePictureInput {
  display: none; /*hides original button*/
}

#userPicture {
  background-image: url("../pictures/std-profile-picture.png");
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
  border: 3px solid #F1C40F;
}

.user-logo-and-name > h2 {
    color: #F1C40F;
    background-color: #2274A5;
    border: 2px solid #F1C40F;
    padding: 0.5rem;
    height: 2rem;
    border-radius: 2rem;
    vertical-align: middle;
}

#userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-container {
  margin-top: -0.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stretch {
  width: 100%;
  justify-content: space-around;
  margin-left: 0;
}

.visibility-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userEmail {
  font-size: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2274A5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2274A5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flexable-info {
    display: flex;
    flex-wrap: wrap;
}

#userItems {
  height: 60rem; /*temporary for design set to applicable view port*/
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cursor {
  cursor: pointer;
}

.friends-container {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.sectionTitle {
  align-self: center;
}

.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.friendCard:hover {
  cursor: pointer;
}

.friendCard > h2 {
    color: #F1C40F;
    background-color: #2274A5;
    border: 2px solid #F1C40F;
    border-radius: 1rem;
    width: 15rem;
    text-align: center;
    margin-top: 0.25rem;
}

.friendCard > img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid  #F1C40F;
}

.for-1300-screens {
  display: none;
}

/*--------------------------SCREEN RESOLUTION--------------------------------------------------*/


@media only screen and (min-width: 1024px) {
  .account-display{
    flex-direction: row;
    align-items: flex-start;
    gap: 0.25rem;
  }

  .user-section{
    width: 25%;
  }

  #userItems {
    border-left: 1px solid #2274A5;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: scroll;
  }

  .friends-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sectionTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
}

@media only screen and (min-width: 1300px) {

  .user-section{
    width: 35%;
  }

  .for-1300-screens {
    display: inline;
  }

  .friends-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sectionTitle {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media only screen and (min-width: 1920px) {
  #itemsToShow {
    max-width: 85%;
  }

  .friends-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sectionTitle {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}