footer {
    color:#F1C40F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 0;
    background-color: #2274A5;
    color: #F1C40F;
    height: fit-content;
}

footer > a {
    height: 48px;
    width: 48px;
}

footer > p {
    font-size: 1.5rem;
    
}