@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none;
    color: #F1C40F;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2274A5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #F1C40F;
    font-size: larger;
}

header img {
    justify-self: flex-start;
    margin-left: 1rem;
    width: 10rem;
    max-height: 95%;
}

header > div {
    margin-left: auto;
    margin-right: 0.25rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#hamburgerMenu {
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        margin-right: 0;
}



header ul {
    position: absolute;
    translate: 5%;
    top: 3rem;
    right: 0;
    padding: 1rem;
    text-align: right;
    list-style: none;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: #2274A5;
    border: 2px solid #F1C40F;
    border-radius: 1rem;
}

.input-div {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 7rem;
}

.input-div > input {
    height: 2rem;
    border-radius: 1rem;
    border: 2px solid #2274A5;
    width: 15rem;
    padding-left: 2.75rem;
    font-size: large;
    color: #0044ff;
    z-index: 100;
}

.input-div > svg {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 4px;
    z-index: 1;
    pointer-events: none; /*leae here => was causing trouble when selecting input*/
}

.dots {
    display: none;
}

.hidden  {
    display: none;
}

/* ------------------------------------------- SCREEN RESOLUTIONS ----------------------------------------------*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
    .dots {
        display: inline-block;
        padding: 0.5rem;
        max-height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    .input-div {
        top: 9rem;
        margin-top: -0.5rem;
        margin-right: 1.5rem;
        margin-left: auto;
    }

    .input-div > input {
        border-color: #F1C40F;
    }
    
}

@media only screen and (min-width: 1024px) {
    .hidden {
        display: flex;
    }

    #hamburgerMenu {
        display: none;
    }

    header ul {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        top: 0;
        right: 1rem;
        border: none;
    }

    header li {
        border: 2px solid #F1C40F;
        border-radius: 0.25rem;
        padding: 0.25rem;
        font-size: larger;
        text-align: center;
        text-wrap-mode: nowrap;
        width: fit-content;
    }

    header img {
        width: 15rem;
    }

    .input-div {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-top: -1rem;
        margin-right: 1.5rem;
        margin-left: auto;
    }

    .input-div > input {
        border-color: #F1C40F;
    }
}

@media only screen and (min-width: 1300px) {
    .dots {
        display: block;
        max-height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1920px) {
    header ul {
        right: 1.5rem
    }
    header li {
        border: 2px solid #F1C40F;
        border-radius: 0.25rem;
        padding: 0.25rem;
        font-size: 2rem;
    }

    header img {
        width: 20rem;
    }
}

