a {
    text-decoration: none;
    color: #FF9F1C;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2EC4B6;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #FF9F1C;
    font-size: larger;
}

header img {
    justify-self: flex-start;
    margin-left: 1rem;
    width: 10rem;
    max-height: 95%;
}

header > div {
    margin-left: auto;
    margin-right: 0.25rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#hamburgerMenu {
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        margin-right: 0;
}



header ul {
    position: absolute;
    translate: 5%;
    top: 3rem;
    right: 0;
    padding: 1rem;
    text-align: right;
    list-style: none;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: #2EC4B6;
    border: 2px solid #FF9F1C;
    border-radius: 1rem;
}

.dots {
    display: none;
}

.hidden  {
    display: none;
}

/* ------------------------------------------- SCREEN RESOLUTIONS ----------------------------------------------*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
    .dots {
        display: inline-block;
        padding: 0.5rem;
        max-height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: 0.5rem;
    }
    
}

@media only screen and (min-width: 1024px) {
    .hidden {
        display: flex;
    }

    #hamburgerMenu {
        display: none;
    }

    header ul {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        top: 0;
        right: 1rem;
        border: none;
    }

    header li {
        border: 2px solid #FF9F1C;
        border-radius: 0.25rem;
        padding: 0.25rem;
        font-size: larger;
        text-align: center;
        text-wrap-mode: nowrap;
        width: fit-content;
    }

    header img {
        width: 15rem;
    }

    
}

@media only screen and (min-width: 1300px) {
    .dots {
        display: block;
        max-height: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (min-width: 1920px) {
    header ul {
        right: 1.5rem
    }
    header li {
        border: 2px solid #FF9F1C;
        border-radius: 0.25rem;
        padding: 0.25rem;
        font-size: 2rem;
    }

    header img {
        width: 20rem;
    }
}

