main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerBtn {
    margin-left: auto;
    margin-right: 1rem;
}

#indexTitle {
    margin-top: 5rem;
    flex: 1;
    width: 100%;
    text-align: center;
}


#indexTitle > p {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #2274A5;
}

#infoSymbol {
    margin: 1rem;
    margin-right: auto;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2274A5;
    width: 100%;
    height: 70%;
}

#login input {
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 1rem;
}

#login > form {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 25rem;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#login button {
    align-self: flex-end;
}

/* ------------------------------------------- SCREEN RESOLUTIONS ----------------------------------------------*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
    #login {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #login > form {
        width: 50%;
        max-width: 25rem;
    }
}

@media only screen and (min-width: 1024px) {
    #indexTitle {
        padding-top: 12rem;
    }
    
    #login {
        height: fit-content
    }

    #login > form {
        flex-direction: row;
        padding-bottom: 0;
        width: 90%;
    }

    #login input {
        width: 15rem;
    }
}

@media only screen and (min-width: 1300px) {
    
}

@media only screen and (min-width: 1920px) {
    body {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    main {
        height: 100%;
    }

    #indexTitle {
        margin-top: 18rem;
        padding: 0;
    }

    #indexTitle > img {
        width: 25%;
    }

    #infoSymbol {
        margin-bottom: 5rem;
        margin-left: 5rem;
        height: 5rem;
        width: 5rem;
        margin-top: auto;
    }

    #login {
        max-width: 25rem;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    #login  > form {
        margin-top: 28rem;
        margin-bottom: 50%;
        flex-direction: column;

    }

    #indexFooter {
        margin-bottom: -1rem;
        margin-top: auto;
        max-height: fit-content;
    }
}

